<% if notice %>
  <div class="notification pt-5">
    <ul class="success">
      <li><%= notice %></li>
    </ul>
  </div>
<% end %>
<% if alert %>
  <div class="notification pt-5">
    <ul class="alert">
      <li><%= alert %></li>
    </ul>
  </div>
<% end %>