<div class="d-flex align-items-end">
  <p class="title"><%= @post.name %></p>
  <p class="prefecture pl-3 pb-1">-<%= @post.prefecture.name %>-</p>
</div>
<p class="caption p-2"><%= @post.caption %></p>


<p>コメントを見る</p>
    <% @comments.each do |comment| %>
      <small><% comment.content %></small>
    <% end %>