<html lang="ja">
	<head>
		<title><%= title(yield(:title)) %></title>
		<%= render 'application/head' %>
	</head>
	<body>
		<div class="container">
			<%= render 'application/header' %>
			<main><%= yield %></main>
		</div>
	</body>
</html> 